<div class="everything">
    <div class="title-cont">
        <div class="title text-center" data-aos="fade-up">
            <h2>{{ozark.serie_name}}</h2>
            <h4>{{ozark.serie_year}}</h4>
            <h5>Watch it on {{ozark.platform}}</h5>
        </div>
    </div>
    <div class="cont-1 d-flex align-items-center">
        <div class="cont d-flex flex-column">
            <div class="w-50" data-aos="zoom-in" data-aos-duration="1000">
                <img width="700" src={{ozark.serie_img}} alt="Succession image">
            </div>
        </div>
        <div class="oz_image w-75 text-center" data-aos="zoom-in" data-aos-duration="2000">
            <img width="500" src={{ozark.serie_img1}} alt="Succession image">
        </div>
    </div>
    <div class="oz_description text-center w-50" data-aos="fade-up" data-aos-duration="2000">
        <p>{{ozark.serie_description}}</p>
    </div>
    <div class="trailer_video text-center">
        <iframe width="660" height="415" src="https://www.youtube.com/embed/5hAXVqrljbs" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>
<div class="skew"></div>
<div class="skew-1"></div>