<div class="d-flex justify-content-center flex-wrap">
    <a *ngFor="let serie of series" class="card m-2 p-2">
        <div class="tools">
            <div class="circle">
                <span class="red box"></span>
            </div>
            <div class="circle">
                <span class="yellow box"></span>
            </div>
            <div class="circle">
                <span class="green box"></span>
            </div>
        </div>
        <div class="card__content text-center d-block align-items-center m-2">
            <div class="image-card">
                <img src={{serie.img2}} alt="image">
            </div>
            <div class="title-card">
                <h5>{{serie.name}}</h5>
            </div>
            <div class="platform-card">
                <h5>{{serie.platform}}</h5>
            </div>
            <div class="genre-card">
                <p>{{serie.genre}}</p>
            </div>
        </div>
    </a>
</div>