<div class="everything">
    <div class="title-cont">
        <div class="title text-center" data-aos="zoom-out-down" data-aos-offset="300">
            <h2>{{industry.serie_name}}</h2>
            <h4>{{industry.serie_year}}</h4>
            <h5>Watch it on {{industry.platform}}</h5>
        </div>
    </div>
    <div class="cont-1 d-flex align-items-center">
        <div class="cont d-flex flex-column" data-aos="fade-right" data-aos-duration="1000">
            <div class="w-50">
                <img class="img_1" src={{industry.serie_img}} alt="Industry image">
            </div>
        </div>
        <div class="ind_description text-center w-50" data-aos="fade-left" data-aos-duration="1000">
            <p>{{industry.serie_description}}</p>
        </div>
    </div>
    <div class="ind_image text-center" data-aos="fade-up-left" data-aos-duration="1000">
        <img class="img_2" src={{industry.serie_img1}} alt="Industry image">
    </div>
    <div class="trailer_video text-center">
        <iframe width="660" height="415" src="https://www.youtube.com/embed/ZksxRbW3ptA" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>
<section class="skewed">
    <div class="skew"></div>
    <div class="skew-1"></div>
</section>