.everything {
    margin: 0px auto;
    padding: 40px;
    width: 100%;
    height: fit-content;
}

.title-cont {
    margin-top: 55px;
}

h2 {
    font-size: 60px;
}

.ind_description {
    position: absolute;
    left: 40%;
    font-size: 35px;
    color: rgb(237, 173, 24);
    background: rgba(0, 0, 0, 0.856);
}

.img_1 {
    position: relative;
    left: 20%;
    width: 140%;
}

.img_2 {
    width: 100%;
}

.ind_image {
    width: fit-content;
    position: relative;
    left: 35%;
    bottom: 150px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.skewed {
    position: relative;
    bottom: 700px;
    z-index: -1;
}

.skew {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    transform: skewY(-4deg);
}

.skew-1 {
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    transform: skewY(10deg);
}

iframe {
    width: 100%;
    height: 415px;
}

@media only screen and (max-width : 900px) {
    .ind_description {
        font-size: 15px;
        left: 45%;
    }

    .img_1 {
        left: 15%;
    }

    .ind_image {
        bottom: 25px;
        left: 10%;
    }

    .cont {
        position: relative;
        right: 10%;
    }
}