<div class="everything">
    <div class="title-cont">
        <div class="title text-center" data-aos="fade-up">
            <h2>{{crazy.serie_name}}</h2>
            <h4>{{crazy.serie_year}}</h4>
            <h5>Watch it on {{crazy.platform}}</h5>
        </div>
    </div>
    <div class="cont-1 d-flex align-items-center">
        <div class="cont d-flex flex-column">
            <div class="w-50" data-aos="zoom-in" data-aos-duration="1000">
                <img class="crazy_image_" src={{crazy.serie_img}} alt="Crazy ex girlfriend image">
            </div>
        </div>
        <div class="crazy_description text-center w-75" data-aos="fade-up" data-aos-duration="2000">
            <p>{{crazy.serie_description}}</p>
        </div>
    </div>
    <div class="crazy_image w-50 text-center" data-aos="zoom-in" data-aos-duration="2000">
        <img class="crazy_img1" src={{crazy.serie_img1}} alt="Crazy ex girlfriend image">
    </div>
    <div class="trailer_video text-center">
        <iframe src="https://www.youtube.com/embed/UK1Tj07c_co" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>
<div class="skew"></div>
<div class="skew-1"></div>