<div class="everything">
    <div class="title-cont">
        <div class="title text-center" data-aos="zoom-out-down" data-aos-offset="300">
            <h2>{{raised.serie_name}}</h2>
            <h4>{{raised.serie_year}}</h4>
            <h5>Watch it on {{raised.platform}}</h5>
        </div>
    </div>
    <div class="cont-1 d-flex flex-column align-items-center">
        <div class="cont d-flex flex-column" data-aos="fade-right" data-aos-duration="1000">
            <div class="w-50">
                <img width="1000" src={{raised.serie_img}} alt="Raised by wolves image">
            </div>
        </div>
        <div class="raised_desc text-center w-75" data-aos="fade-left" data-aos-duration="1000">
            <p>{{raised.serie_description}}</p>
        </div>
    </div>
    <div class="ind_image text-center" data-aos="fade-up-left" data-aos-duration="1000">
        <img width="700" src={{raised.serie_img1}} alt="Raised by wolves image">
    </div>
    <div class="trailer_video text-center">
        <iframe width="660" height="415" src="https://www.youtube.com/embed/DWuo6T7Hk5M" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>
<section class="skewed">
    <div class="skew"></div>
    <div class="skew-1"></div>
</section>