:root {
    /*BACKGROUNDS*/
    --general_bg: #000;
    --background_desc: rgba(76, 37, 37, 0.887);

    /*FONTS AND VIDEOS SIZE*/
    --font-size_desc: 2rem;
    --trailer-size_width: 80%;
    --trailer-size_height: 60vh;

    /*FONTS COLORS*/
    --color_desc: rgb(237, 173, 24);

    /*RESPONSIVE VAR*/
    --resp_font-size: 1.2rem;

    /*BOX SHADOWS*/
    --img_shadow-yellow: 5px 10px yellow;
    --img_shadow-black: 5px 10px black;
}



body {
    background-color: rgb(237, 173, 24);
    overflow-x: hidden;

}

body::-webkit-scrollbar {
    width: 7px;
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(237, 173, 24);
    border: 1px solid black;
    border-radius: 5px;
}

* {
    margin: 0;
    font-family: 'Playfair Display SC', serif;
    text-transform: uppercase;
}