:root {
    --font-size_desc: 2rem;
    --background_desc: rgba(76, 37, 37, 0.887);
    --color_desc: rgb(237, 173, 24);
    --trailer-size_width: 80%;
    --trailer-size_height: 60vh;

    /*
    RESPONSIVE VAR
    */

    --resp_font-size: 1.2rem;
}



body {
    background-color: rgb(237, 173, 24);
    overflow-x: hidden;

}

body::-webkit-scrollbar {
    width: 7px;
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(237, 173, 24);
    border: 1px solid black;
    border-radius: 5px;
}

* {
    margin: 0;
    font-family: 'Playfair Display SC', serif;
    text-transform: uppercase;
}