<div class="everything">
    <div class="title-cont">
        <div class="title text-center" data-aos="fade-up">
            <h2>{{succession.serie_name}}</h2>
            <h4>{{succession.serie_year}}</h4>
            <h5>Watch it on {{succession.platform}}</h5>
        </div>
    </div>
    <div class="cont-1 d-flex align-items-center">
        <div class="cont d-flex flex-column">
            <div class="w-50" data-aos="zoom-in" data-aos-duration="1000">
                <img class="suc_image_" src={{succession.serie_img}} alt="Succession image">
            </div>
        </div>
        <div class="suc_image w-50 text-center" data-aos="zoom-in" data-aos-duration="2000">
            <img class="suc_image_1" src={{succession.serie_img1}} alt="Succession image">
        </div>
    </div>
    <div class="suc_description text-center" data-aos="fade-up" data-aos-duration="2000">
        <p>{{succession.serie_description}}</p>
    </div>
    <div class="trailer_video text-center">
        <iframe src="https://www.youtube.com/embed/I9PRSk53f5o" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>
<div class="skew"></div>
<div class="skew-1"></div>