.everything {
    background-color: var(--general_bg);
    width: 100%;
    height: fit-content;
    color: var(--color_desc);
    padding: 40px;
}

h2 {
    font-size: 60px;
}

.suc_image_ {
    width: 130%;
    box-shadow: var(--img_shadow-yellow);
}

.suc_image_1 {
    width: 70%;
    box-shadow: var(--img_shadow-yellow);
}

.suc_image {
    position: absolute;
    left: 50%;
}

.suc_description {
    width: 75%;
    position: relative;
    bottom: 90px;
    left: 18%;
    color: var(--color_desc);
    background: var(--background_desc);
    font-size: var(--font-size_desc);
}

.trailer_video {
    position: relative;
    bottom: 50px;
    padding: 10px;
}

iframe {
    width: var(--trailer-size_width);
    height: var(--trailer-size_height);
}

.skew {
    width: 100%;
    height: 100px;
    background-color: rgb(7, 7, 7);
    transform: skewY(-4deg);
}

.skew-1 {
    width: 100%;
    height: 80px;
    background-color: rgb(2, 2, 1);
    transform: skewY(10deg);
}

@media only screen and (max-width : 900px) {

    h2 {
        font-size: 40px;
    }

    .suc_description {
        font-size: var(--resp_font-size);
        bottom: 30px;
        width: 90%;
        left: 5%;
    }
}